<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ModemPostUrl" value="http://192.168.100.1/goform/restart"/>
    <add key="AuthorizationKey" value="Basic Om1vZGVtZW50cnkz"/>
    <add key="GoogleUrl" value="https://www.google.com"/>
    <add key="FacebookUrl" value="https://www.facebook.com"/>
    <add key="YahooUrl" value="https://www.yahoo.com"/>
    <add key="TwitterUrl" value="https://www.twitter.com"/>
    <add key="IsShoutDownOnFail" value="1"/>
    <add key="IdleWaitTimeMinute" value="10"/>
    <add key="NetFailureRetryIntervalMinute" value="3"/>
    <add key="FailureCountForShutDown" value="15"/>
    <add key="ErrorLogPath" value="C:\Users\user\Documents\visual studio 2013\Projects\WindowsModemManager\WindowsModemManager.ConsoleTest\bin\Release"/>
    <add key="TraceLogPath" value="C:\Users\user\Documents\visual studio 2013\Projects\WindowsModemManager\WindowsModemManager.ConsoleTest\bin\Release"/>
    <add key="IsTracingEnabled" value="1"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
